body{
    background-color: aqua;
    background-image: url(wallpaperflare.com_wallpaper.jpg);
}

.keys
{   
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.key
{
    background-color:ghostwhite;
    color: black;
    padding: 20px;
    margin: auto;
    transition: all .07s ease;
    border:2px solid red;
    border-radius: 20%;
    font-size: 1.5rem;;
}
kbd{
    display: block;
    text-align: center;
    font-size: 2rem;
}
.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }
  
.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }