body{
    background-color: aqua;
    background-image: url(wallpaperflare.com_wallpaper.jpg);
}

.keys
{
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    flex-direction: row;
    
}
.key
{
    background-color:ghostwhite;
    color: black;
    padding: 20px;
    margin: auto;
    border:2px solid red;
    border-radius: 20%;
}
